includes:
  - phpstan-baseline.neon
parameters:

  paths:
    - src

  # The level 8 is the highest level
  level: 7

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
